<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maxime.toolkit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page.pageProductGallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".page.pageProductDetail"/>
        <activity android:name=".page.pageReview"/>
        <activity android:name=".page.pagePanier"/>
        <activity android:name=".page.pageFilter"/>
        <activity android:name=".page.pageCheckout">
        </activity>
        <activity android:name=".page.pagePayment">
        </activity>
        <activity android:name=".page.pageLivraison">
        </activity>
        <activity android:name=".page.pageAdmin">
        </activity>
        <activity android:name=".page.pageConfirmation">
        </activity>
        <activity android:name=".page.pageLogin">
        </activity>
    </application>

</manifest>